*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
display: block;
max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 2. CSS Variables */

:root {
  /* Colors: HSL (Hue, Saturation, Lightness) */

  /* Primary */
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
  
  /* Font Families */

 --font-Lexend-Deca: "Lexend Deca", sans-serif;
 --font-Big-Shoulders-Display: "Big Shoulders Display", sans-serif;
}

html {
  font-size: 62.5%;
}

body{
    font-family: var(--font-karla), sans-serif;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}